/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PAGE CSS */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #60a9ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    max-width: 100%;
    width: 960px;
    height: 555px;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main section {
    border-right: 1px solid #e1f1ff;
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
main section h2 {
    line-height: 2;
    color: #888;
    letter-spacing: 1px;
    font-weight: 500;
}
main section ul {
    color: #016ff9;
    font-size: 0.75em;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}
section ul li {
    border-top: 1px solid #e1f1ff;
    line-height: 1.5;
    padding: 15px 0;
}
section span {
    color: #016ff9;
    font-size: 2.5em;
    font-weight: bold;
}
section a {
    color: #016ff9;
    border: 1px solid #60a9ff;
    border-radius: 10px;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 300;
}
section:nth-of-type(2) a {
    background-color: #60a9ff;
    font-weight: 400;
    color: #fff;
}
section:nth-of-type(3) {
    border: none;
}
img {
    max-width: 100%;
}